<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<!--<form action="#" th:action="@{update}" th:object="${user}" method="post">-->
<!--    <label for="id">Id</label>-->
<!--    <input readonly type="number" th:field="*{id}" id="id" placeholder="Id">-->
<!--    <br/>-->
<!--    <label for="firstName">First name</label>-->
<!--    <input type="text" th:field="*{firstName}" id="firstName" placeholder="Name">-->
<!--    <br/>-->
<!--    <label for="lastName">Last name</label>-->
<!--    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">-->
<!--    <br/>-->
<!--    <label for="age">Age</label>-->
<!--    <input type="number" th:field="*{age}" id="age" placeholder="Last Name">-->
<!--    <br/>-->
<!--    <input type="submit" value="Update User">-->
<!--</form>-->

<form action="#" th:action="@{update}" th:object="${user}" th:method="PATCH">
    <label for="id">Id</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="Id">
    <br/>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="Name">
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <br/>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Last Name">
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>